<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abraham Industries</title>
    <link rel="icon" href="/favicon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="/static/asss.png" alt="Abraham Industries" style="height: 80px;">
        </a>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/founders">Founders</a>
            <a href="/cogniai">CogniAI Labs</a>
            <a href="/contact">Contact</a>
            <a href="/notification">Notifications</a>
        </nav>
    </header>



        </nav>
    </header>
    <section class="notifications" id="notifications">
        <h2 class="heading">Notifications</h2>
        <div class="notification-content">
            <p>We are looking for pre-seed funding. Ventures interested in investing in our company, please contact us directly.</p>
        </div>
    </section>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="vai.png" alt="VAI">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Veronica VAI</h4>
                        <p class="chatbox__description--header">VAI-6.5</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="vai.png" alt="VA"></button>
            </div>
        </div>
    </div>
    

    
    
    
    
    
    

   <script src="https://smtpjs.com/v3/smtp.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>        
   <script src ="script.js"></script>      
</body>
